@import '~bootstrap/scss/bootstrap';


header{
    height: 60px;
    background-color: antiquewhite;
}

aside{
    height: 100%;
    width: 200px;
    nav{
        ul{
            list-style:none;
            li{
                margin-bottom: 10px;
            a{
                color: black;
                text-decoration: none;
                font-size: .9rem;
                &:hover{
                    text-decoration: underline;
                }
            }
            }

        }
    }
}

.main-wrapper{
    height: calc(100vh - 60px);
}

